<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.tp.seanwong.musica">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="sg.edu.tp.seanwong.musica.MusicService"
            android:icon="@drawable/ic_album_24px"
            android:label="@string/app_name"
            android:enabled="true"
            >
        </service>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_INIT" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_START_PLAY" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_PLAY" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_PAUSE" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_SKIP" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_PREVIOUS" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_NEXT" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_SHUFFLE" />
                <action android:name="sg.edu.tp.seanwong.musica.MusicService.ACTION_REPEAT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>